// hover
.hover {
    background-color: #F5F5F5;
    border: none;
    height: 28px;
    z-index: 1000;
    border-bottom: #ddd solid 1px;
}
.header {
        position: relative;
        margin: auto;
        padding: 0;
        width: 1245px;
}
.headerleft{
    float: left;
}
.header_city {
    color: #656565;
    line-height: 28px;
}
.header_city:hover{
    color:  #f64545;
}
.hover ul {
    float: right;
    margin-bottom: 0;
}
.hover ul li {
    color: #303030;
    float: left;
}
.hover ul li a:hover{
    color: #f64545;
}
.spacer {
    background: #ccc none repeat scroll 0 0;
    height: 15px;
    margin-top: 6px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}
.item{
    padding: 0px 20px;
}

.hover ul li a{
    font-size: 12px;
    line-height: 27px;  
}
.app{
    position: absolute;
    right: 0;
    top: 20px;
}
//conter
.conter{
    margin: 30px 0 0;
    border: none;
    height: 77px;
    background-color: #fff;
}
.conter_icon{
    position: relative;
    margin: auto;
    padding: 0;
    width: 1245px;
}
.conter_icon .left{
    width: 300px;
    float: left;
}
#img_logo{
    width: 119px;
}
#img_400{
    margin: 12px 0 0;
    width: 122px;
}
.tag{
    font-size: 15px;
    color: #656565;
    margin: 10px 0 0;
}
.center{
    float: left;
    width: 610px;
    position: relative;
}
.center_container{
    width: 495px;
    height:41px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #ccc;
}
.center_container input{
    width: 420px;
    height: 31px;
    border: 0 none;
    color: #ccc;
    font-size: 16px;
    outline: 0 none;
    padding: 5px 5px 5px 12px;
    float: left;
}
.search{
    width: 57px;
    height: 33px;
    float: left;
    cursor: pointer;
    border-left: 1px solid #ccc;
    background: #ccc;
    text-align: center;
    padding: 9px 0 0;
}
.search:hover{
    background: #f64545;
}
.right{
    width: 186px;
    border: 1px solid #dadada;
    float: left;
    position: relative;
    background: #F5F5F5;
}
.right>span{
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    height: 38px;
    line-height: 38px;
}
.right>span img{
    margin: -6px 0 0;
    height: 15px;
}
.right>span a{
    font-size: 15px;
    color: #656565
}
.right>span a:hover{
    color: #f64545;
}
#num{
    display: block;
    width: 24px;
    height: 16px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 6px;
    right: 16px;
    text-align: center;
    line-height: 16px;
    background: url(../images/4.png) top center no-repeat;
}


//conter-nv
.conter-nv{
    position: relative;
}
.contaniner{
    position: relative;
    margin: auto;
    padding: 0;
    width: 1245px;
}
.conter-nv .conter-left{
    display: block;
    margin: 0 auto 0;
    padding: 0;
    position: relative;
}

.conter-nv .conter-left .nv-list{
    position: absolute;
    left: 0;
    top: 37px;
    z-index: 120;
    background: #fff;
}
.nv-list li{
    width: 136px;
    line-height: 20px;
    padding: 6px 3px;
    border-top: 1px #cecece solid;
    text-align: center;
    font-size: 14px;
}
.nv-conter{
    position: relative;
    background-color: #fff;
    color: #fff;
    margin-left: 0;
    padding-left: 50px;
    text-align: left;
    width: 180px;
}
.conter-nv .conter-nv-item{
    position: relative;
    float: left;
    font-size: 19px;
    letter-spacing: 1px;
    padding: 0 26px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

.conter-nv .conter-nv-item a{
    color:#666;
}
.conter-nv .conter-nv-item a:hover{
    color:#e63a4b;
}

/*
    订单情况
*/
.navbar{
    height: 60px;
    border: none;
    background-color: #fff;
    min-height: 60px;
    z-index: 100;
    margin-bottom: 0px;
    border-radius: 0px;
    min-height: 30px;
    position: relative;
}
.orderstep {
    float: right;
    width: 474px;
} 
.orderstep .orderstep-show {
    position: relative;
    background-position: 0 -71px;
    background: url(https://mall.haval.com.cn/ccweb/images/step_buy.png);
    height: 20px;
    margin: 5px 0 10px 0;
    width: 474px;
    right: 145px;
}
.orderstep ul li {
    float: left;
}
.orderstep .a {
    margin-right: 50px;
}
.orderstep .b {
    margin-right: 65px;
}
.orderstep .c {
    margin-right: 76px;
}
.orderstep ul {
    font-size: 14px;
    position: relative;
    right: 145px;
}
.container{
    position: relative;
    margin: auto;
    padding: 0;
    width: 1245px;

}
.panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0px;
    min-height: 360px;
}
.page-heading {
    border: medium none;
    border-radius: 0;
    height: 50px;
    padding: 15px;
}
.panel-body {
    padding: 0px;
}
.panel-title {
    font-weight: bold;
    line-height: 20px;
    display: block;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    position: relative;
    left: 40px;
    bottom: 50px;
}
.panel-body {
    text-align: center;
    padding: 0px;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.shopcart-empty-txt {
    width: 30%;
    margin: 100px auto 0;
    font-size: 16px;
}
.text-left {
    text-align: center;

    line-height: 20px;
}
.shopcart-empty-txt a {
    font-size: 14px;
    text-decoration: underline;
}
.table {
    margin-bottom: 0px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}
.th1{
    width: 6%;
}
.shopcart-tab .th1, .ttt .td1 {
    width: 4%;
}
.shopcart-tab .td1, .ttt .th1 {
    text-align: left;
}
.shopcart-tab .th2, .ttt .td2 {
    width: 24%;
}

.shopcart-tab .th3, .ttt .td3 {
    width: 14%;
}
.shopcart-tab .th4, .ttt .td4 {
    width: 14%;
}
.shopcart-tab .th5, .ttt .td5 {
    width: 7%;
}
.shopcart-tab .th6, .ttt .td6 {
    width: 14%;
}
.shopcart-tab .th7, .ttt .td7 {
    width: 14%;
}
.shopcart-tab .th8, .ttt .td8 {
    width: 24%;
}
.shopcart-tab .th3, .ttt .td3, .shopcart-tab .th4, .ttt .td4, .shopcart-tab .th5, .ttt .td5, .shopcart-tab .th6, .ttt .td6, .shopcart-tab .th7{
    width: 12%;
}
.ttt .td7 {
    width: 17%;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle;
    /* border-top: 1px solid #eaeaea; */
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.ttt{
text-align: left;
}
.table .table {
    background-color: #fff;
}
.td8{
    position: relative;
    right: 477px;
}

.amount {
    width: 80px;
    margin: 0 auto;
}

.amount button {
    width: 25px;
    height: 25px;
    border: 1px solid #eaeaea;
    float: left;
    color: #656565;
    font-weight: bolder;
    font-size: 20px;
    line-height: 20px;
    background: #fff;
    text-align: center;
}


.amount span {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 30px;
    height: 23px;
    float: left;
    border-style: none;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.add {
    position: relative;
    top: 0px;
    left: 0px;
}
.red {
    color: #d7000f;
}
.red {
    color: #f00;
}
.tdbtn{
    position: relative;
    top: 2px;
    left: 1px;
}
.tbright{
    text-align: right;
}

.amount
.pull-left{
    float: left;
}
.pull-right {
    top: 39px;
    float: right;
    position: relative;
    font-size: 14px;
    right: 275px;
}
.allGoods{
    position: relative;
    left: -250px;
}
.totalPrice{
    left: -72px;
    position: relative;
    top: -19px;
}
.return{
    position: relative;
    left: 113px;
    top: -38px;
}
.button{
position: relative;
left: 148px;
    top: -38px;
}
// base
.base{
    background: #fff;
    position: relative;;
    margin: auto;
    bottom: 0;
    padding: 0;
    width: 1245px;
    height: 150px;
}
.base-container{
    height: 100px;
    background: #fff;
}
.panel{
    padding-top: 45px;
}
.panels{
    width: 219px;
    float: left;
    padding-left: 30px;
    img{
        float: left;
        margin-right: 20px
    }
}
.panels-intro{
    float: left;
    span{
        font-size: 16px;
        line-height: 28px;
    }
}
// base-bottom
.base-bottom{
    min-width: 1245px;
    height: 220px;
    background: #595959;
}
.bottom-container{
    position: relative;
    margin: auto;
    padding: 0;
    width: 1245px;
}
.base-left{
    padding-top: 30px;
    float: left;
}
.base-menu{
    width: 160px;
    float: left;
}
.m1{
    width: 375px;
}
.base-menu dt{
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 20px;
}
.menu-left,.base-menu dt dd{
    line-height: 25px;
    float: left;
}
.l1,.l2{
    margin-left: 15px;
}
.base-menu  dd div a{
    font-size: 14px;
    color: #b8b8b8;
}
.base-menu  dd div a:hover{
    color: #ffffff;
}
.base-right{
    width: 142px;
    height: 190px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.base-right span{
    font-size: 28px;
    line-height: 50px;
    color: #fff;
}
.base-right img{
    height: 142px;
    background: #fff;
}
// base-nav
.base-nav{
    height: 44px;
    padding: 10px;
}
.nav-container{
    position: relative;
    margin: auto;
    padding: 0;
    width: 1245px;
}
.nav-container ul li{
    list-style: none;
    float: left;
    display: block;
}
.nav-container ul li a{
    font-size: 14px;
    color: #353535;
    margin: 0 5px;
}

.nav-span{
    display: block;
    float: right;
    font-size: 14px;
    text-align: center;
    width: 195px;
}
.nav-copy{
    clear: both;
    font-size: 12px;
    color: #9d9d9d;
}
.nav-copy a{
    color: #9d9d9d;
}
